/* MAIN COLORS */
.navyblue {
    background: #2C3E50;
}
.orangered {
    background: #E74C3C;
}
.offwhite {
    background: #ECF0F1;
}
.lightblue {
    background: #3498DB;
}
.solidblue {
    background: #2980B9;
}

/* DISPLAY + POSITIONING*/

.flex {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.column {
    flex-direction: column;
}

.centered {
    justify-content: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.full-width {
    width: 100%;
}

.inline-flex {
    display: inline-flex;
}

.postbox {
    margin: 2em;
}

.postbox hr {
    margin-bottom: 0;
    color: #ECF0F1;
    width: 80%;
}



/* OTHER CLASSES */

.single-post {
    width: 50%;
    display: inline-flex;
    float: left;
    flex-direction: column;
    margin-top: 3em;
}

.read-more {
    height: 5em;
    width: 100%;
    text-align: center;
    color: #ECF0F1;
    margin-top: 50%;
}

.byline {
    flex-direction: column;
    text-align: center;
}

/* HOME */
#page-wrapper {
    flex-direction: column;
    background-color: #3498DB;
}

#header {
    display: flex;
    width: 100%;
}

#title-logo {
    color: #ECF0F1;
    font-size: 3.2em;
    margin-left: 1em;
    align-self: center;
}

#main-title {
    color: #ECF0F1;
    display: inline-block;
    margin: 10px 10px;
}

#compose-bar {
    width: 27%;
    margin: 0;
}

#compose-button {
    background-color: #E74C3C;
    border-color: #ECF0F1;
    align-self: center;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, background-color;
    transition-property: transform, background-color;
}

#compose-button:hover, #compose-button:focus, #compose-button:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  background-color: #ef6658;
}

#post-list {
    list-style: none;
}
#posts {
    display: absolute;
    bottom: 20%;
}

/*COMPOSE*/

#entry-wrapper {
    flex-direction: column;
}

#entry-inputs {
    margin: 2em;
}

#new-content {
    display: block;
}

