<div id="entry-wrapper" class="flex six columns">
    <div id="entry-inputs">
        <div class="flex centered">
            <input id="input" placeholder="New Title" ng-model="newTitle">
        </div>
        <div class="flex centered">
            <select id="user-dropdown" ng-model="newUserId">
                <option value="">Select User:</option>
                <option ng-repeat="u in users" value="{{ u.id }}">{{ u.firstname }} {{ u.lastname }}</option>
            </select>
        </div>
        <div class="flex centered">
            <select id="cat-dropdown" ng-model="newCategoryId">
                <option value="">Category</option>
                <option ng-repeat="c in categories" value="{{ c.id }}">{{ c.name }}</option>
            </select>
        </div>
        <div class="flex centered">
            <textarea rows="4" cols="50" id="new-content" ng-model="newContent"></textarea>
        </div>
        <div class="flex centered">
            <button id="submit" class="button-primary" ng-click="createPost()">/// Post Blog ///</button>
        </div>
    </div>
   
</div>